/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  font-family: 'Baloo Bhai', cursive;
  min-width: 300px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Baloo Bhai', cursive;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  border: 0px;
}
h4 {
  font-size: 13px;
}
button {
  font-family: 'Baloo Bhai', cursive;
}
body .home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
}
@media (max-width: 515px) {
  body .home-container {
    width: 100%;
  }
}
body .home-container #banner {
  width: 100%;
  height: 500px;
  background-attachment: scroll, fixed;
  background-color: darkgrey;
  background-image: url("../images/audience-celebration.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 930px) {
  body .home-container #banner {
    height: 400px;
    background-size: 100% 100%;
  }
}
@media (max-width: 515px) {
  body .home-container #banner {
    height: 300px;
    width: 100%;
  }
}
body .home-container #banner img {
  margin-top: 20px;
}
@media (max-width: 930px) {
  body .home-container #banner img {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 515px) {
  body .home-container #banner img {
    width: 100px;
    height: 100px;
    margin-bottom: -20px;
  }
}
#signup {
  background-color: white;
  width: 60%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 2px 3px 0 0 #c9c8c8;
}
@media (max-width: 930px) {
  #signup {
    padding: 10px;
  }
}
#signup h2 {
  margin: 10px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgrey;
}
#signup p {
  margin: 10px;
  text-align: center;
}
#signup input {
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 3px 0 0 #c9c8c8;
}
#signup button {
  background-color: white;
  border: 1px solid grey;
  padding: 40px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: black;
  font-size: 40px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  box-shadow: 2px 3px 0 0 #c9c8c8;
  width: 10%;
  height: 30px;
  font-size: 15px;
  padding: 0;
}
@media (max-width: 930px) {
  #signup button {
    font-size: 20px;
    width: 25%;
  }
}
@media (max-width: 515px) {
  #signup button {
    font-size: 15px;
    width: 30%;
  }
}
#signup button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.nav {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 80%;
  margin-top: 40px;
}
.nav a {
  border: 1px solid #c9c8c8;
  border-radius: 0.2em;
  background-color: white;
  padding: 20px;
  justify-items: space-evenly;
  font-size: 4em;
  text-decoration: none;
  color: black;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  box-shadow: 2px 3px 0 0 #c9c8c8;
}
@media (max-width: 930px) {
  .nav a {
    font-size: 28px;
  }
}
@media (max-width: 515px) {
  .nav a {
    font-size: 12px;
    padding: 10px;
  }
}
.nav a:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
footer {
  background-color: white;
  width: 60%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 3px 0 0 #c9c8c8;
  margin-bottom: 20px;
  width: 30%;
  height: 80px;
}
@media (max-width: 930px) {
  footer {
    width: 20%;
  }
}
@media (max-width: 515px) {
  footer {
    width: 20%;
  }
}
footer h3 {
  padding-bottom: 20px;
  border-bottom: 2px solid lightgrey;
  padding-top: 20px;
  text-align: center;
}
@media (max-width: 930px) {
  footer h3 {
    width: 80%;
    font-size: 13px;
    text-align: center;
  }
}
@media (max-width: 515px) {
  footer h3 {
    width: 90%;
    font-size: 12px;
    text-align: center;
  }
}
footer .footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  padding: 0 20px;
}
footer .footer-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  color: grey;
}
@media (max-width: 930px) {
  footer .footer-nav a {
    margin: 10px;
  }
}
h4 {
  padding-top: 50px;
}
#mid-section {
  background-color: white;
  width: 60%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: -80px;
  margin-bottom: 40px;
  padding: 60px 0 50px 0;
  box-shadow: 2px 3px 0 0 #c9c8c8;
}
#mid-section .toptext-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  width: 50%;
}
#mid-section .toptext-container h2 {
  font-size: 2em;
  padding: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgrey;
}
#mid-section .toptext-container p {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#party-planner {
  background-color: white;
  width: 60%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 40px;
  background-image: url("../images/disco-ball-shining.gif");
  background-size: 80%;
  box-shadow: 2px 3px 0 0 #c9c8c8;
}
#party-planner .party-button {
  width: 60%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 930px) {
  #party-planner .party-button {
    background-size: 500px;
    background-repeat: repeat-x;
  }
}
#party-planner .party-button .plan-party-btn {
  background-color: white;
  border: 1px solid grey;
  padding: 40px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: black;
  font-size: 40px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  box-shadow: 2px 3px 0 0 #c9c8c8;
  width: 100%;
}
@media (max-width: 930px) {
  #party-planner .party-button .plan-party-btn {
    height: 100px;
    font-size: 30px;
    padding: 0;
    padding: auto;
  }
}
#party-planner .party-button .plan-party-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
#sources {
  background-color: white;
  width: 60%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 3px 0 0 #c9c8c8;
  margin-bottom: 40px;
}
#sources .bottomtext-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}
@media (max-width: 930px) {
  #sources .bottomtext-container {
    width: 90%;
  }
}
#sources .bottomtext-container h2 {
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgrey;
}
#sources .bottomtext-container .src-btns {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
}
#sources .bottomtext-container .src-btns button {
  background-color: white;
  border: 1px solid grey;
  padding: 40px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: black;
  font-size: 40px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  box-shadow: 2px 3px 0 0 #c9c8c8;
  margin: 20px;
  padding: 0 50px 95px 50px;
  width: 20%;
  height: 50px;
  font-size: 30px;
}
@media (max-width: 930px) {
  #sources .bottomtext-container .src-btns button {
    font-size: 30px;
    margin: 0;
  }
}
#sources .bottomtext-container .src-btns button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
#contact-mid {
  background-color: white;
  width: 60%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: -80px;
  margin-bottom: 40px;
  padding: 60px 0 50px 0;
  box-shadow: 2px 3px 0 0 #c9c8c8;
}
#contact-mid .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  width: 60%;
}
#contact-mid .contact-info h2 {
  font-size: 2em;
  padding: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgrey;
}
#contact-mid .contact-info p {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#contact-mid .contact-info .contact-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
}
#contact-mid .contact-info .contact-nav a {
  padding: 15px 0;
  text-decoration: none;
  color: black;
}
#about-mid {
  background-color: white;
  width: 60%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: -80px;
  margin-bottom: 40px;
  padding: 60px 0 50px 0;
  box-shadow: 2px 3px 0 0 #c9c8c8;
}
#about-mid .about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  width: 50%;
}
#about-mid .about-container h2 {
  font-size: 2em;
  padding: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgrey;
}
#about-mid .about-container p {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#new-load-btns {
  background-color: white;
  width: 60%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: -80px;
  margin-bottom: 40px;
  padding: 60px 0 50px 0;
  box-shadow: 2px 3px 0 0 #c9c8c8;
}
#new-load-btns .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  width: 50%;
}
#new-load-btns .container h2 {
  font-size: 2em;
  padding: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgrey;
}
#new-load-btns .container .buttons {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
#new-load-btns .container .buttons button {
  background-color: white;
  border: 1px solid grey;
  padding: 40px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: black;
  font-size: 40px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  box-shadow: 2px 3px 0 0 #c9c8c8;
  padding: 0 30px;
  width: auto;
  width: 40%;
}
@media (max-width: 930px) {
  #new-load-btns .container .buttons button {
    font-size: 20px;
  }
}
#new-load-btns .container .buttons button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
#new-party {
  background-color: white;
  width: 60%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 2px 3px 0 0 #c9c8c8;
}
#new-party .input-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgrey;
}
#new-party .input-section h2 {
  padding: 10px 0;
  text-align: center;
}
#new-party .input-section input {
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}
#new-party .input-section .tabs {
  width: 100%;
}
#new-party .input-section .tabs .themes {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 515px) {
  #new-party .input-section .tabs .themes {
    flex-direction: column;
  }
}
#new-party .input-section .tabs .themes a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 0 20px;
  font-size: 15px;
  margin-top: 10px;
  width: 40px;
  height: 30px;
  border-radius: 5px;
}
#new-party .input-section .tabs .themes a:hover {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  background-color: black;
  color: white;
  cursor: pointer;
}
#new-party .input-section .tabs .themes .themes .active-tab {
  background-color: black;
  color: white;
  border: 1px solid white;
}
#new-party .selection-content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  background-color: #e8e8e8;
  border: 1px solid black;
  border-radius: 10px;
}
#new-party .selection-content .selection-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  height: 70px;
  border: 1px solid black;
  margin: 10px 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 3px 0 0 #c9c8c8;
}
#new-party .selection-content .selection-item .headline {
  font-size: 15px;
  margin: 10px 0;
}
#new-party .selection-content .selection-item .img-container {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 0 0 9px 9px;
}
#new-party .selection-content .selection-item:hover {
  cursor: pointer;
  border: 1px solid white;
  background-color: black;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}
#new-party .selection-content .selection-item:hover .headline {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  color: white;
}
#finalize {
  background-color: white;
  width: 60%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 3px 0 0 #c9c8c8;
  margin-bottom: 40px;
}
#finalize .budget-calc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#finalize .budget-calc .budget-num {
  display: flex;
  justify-content: center;
  align-items: center;
}
#finalize .budget-calc .calc-btn {
  background-color: white;
  border: 1px solid grey;
  padding: 40px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: black;
  font-size: 40px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  box-shadow: 2px 3px 0 0 #c9c8c8;
  width: 30%;
  font-size: 17px;
  height: 50px;
  padding: 0;
  margin-bottom: 40px;
}
@media (max-width: 930px) {
  #finalize .budget-calc .calc-btn {
    font-size: 14px;
  }
}
@media (max-width: 515px) {
  #finalize .budget-calc .calc-btn {
    font-size: 10px;
    width: 40%;
  }
}
#finalize .budget-calc .calc-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
#finalize .budget-calc .budget-num {
  margin-bottom: 40px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}
#finalize .budget-calc .cart-save {
  background-color: white;
  border: 1px solid grey;
  padding: 40px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: black;
  font-size: 40px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  box-shadow: 2px 3px 0 0 #c9c8c8;
  width: 20%;
  font-size: 17px;
  height: 50px;
  padding: 0;
}
@media (max-width: 930px) {
  #finalize .budget-calc .cart-save {
    font-size: 14px;
  }
}
@media (max-width: 515px) {
  #finalize .budget-calc .cart-save {
    font-size: 10px;
    width: 30%;
  }
}
#finalize .budget-calc .cart-save:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
