html, body {
    font-family: 'Baloo Bhai', cursive;
    min-width: 300px;
}

h1, h2, h3, h4, h5 {
    font-family: @font;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  button{
    font-family: 'Baloo Bhai', cursive;
  }

  body {
    .home-container {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: @bg;
      
          @media @mobile {
              width: 100%;
          }
          
          #banner{
            width: 100%;
            height: 500px;
            background-attachment: scroll, fixed;
            background-color: darkgrey;
            background-image: url("../images/audience-celebration.jpg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media @tablet {
              height: 400px;
              background-size: 100% 100%;
            }

            @media @mobile {
              height: 300px;
              width: 100%;
            }

            img{
              margin-top: 20px;

              @media @tablet {
                width: 150px;
                height: 150px;
              }

              @media @mobile {
                width: 100px;
                height: 100px;
                margin-bottom: -20px;
              }
            }
          }

          

  }
}

#signup{
  .sectionCreater();
  margin-bottom: 40px;
  .boxShadow();

  @media @tablet{
    padding: 10px;;
}
  
  h2{
      margin: 10px;
      text-align: center;
      .borderBottom();
  }

  p{
      margin: 10px;
      text-align: center;
  }

  input{
      margin: 20px;
      padding: 5px;
      border-radius: 5px;
      .boxShadow();
  }

  button{
    .buttonSetup();
    width: 10%;
    height: 30px;
    font-size: 15px;
    padding: 0;
    

    @media @tablet{
      font-size: 20px;
      width: 25%;
    }

    @media @mobile{
      font-size: 15px;
      width: 30%;
    }
  }

  button:hover{
    .btnHover();
  }

}

footer{
  .sectionCreater();
  .boxShadow();
  margin-bottom: 20px;

  @media @tablet{
    padding-top: 20px;
  }

  h2{
      .borderBottom();
      text-align: center;
  }

  .footer-nav{
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-evenly;
      width: 30%;
      padding: 0 20px;
      
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        width: 30px;
        height: 30px;
        text-decoration: none;
        color: grey;

      }

      h3{
          margin-top: 30px;
      }
  }

  
}

  