.home-container {
    display:flex;
    flex-direction: column;
    align-content: center;
        @media @mobile {
            width: 100%;
            display:flex;
            flex-direction: column;
            align-content: center;
        }

        #banner {
            background-image: url("images/audience-celebration.jpg")
        }
    
}