#mid-section {
    padding: 30px;
    width: 1200px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    height: 80px;
    margin-top: -80px;
    margin-bottom: 40px;
    padding: 60px 0 100px 0;
    width: 80%;
    
  
    .toptext-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 25%;
      width: 50%;

      h2{
        font-size: 2em;
        padding: 0 100px;
        .borderBottom();
      }

      p{
          padding-top: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
      }
    }
  }
