// Media Queries
@mobile: ~"(max-width: 515px)";

// Color Assignments



// Colors
@bg: #e8e8e8;
@border: lightgrey;


//Images
@backgroundPic: "images/audience-celebration.jpg";
@logo: "images/logo.png";


// Box Formatting

